.products {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
}
.products .products__item {
  position: relative;
  width: 359px;
  height: 452px;
  background-color: #e6eef0;
  margin-bottom: 70px;
  overflow: hidden;
  cursor: pointer;
}
.products .products__item:hover {
  -webkit-box-shadow: 0px 9px 47px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 47px -18px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 47px -18px rgba(0, 0, 0, 0.75);
  transition: 0.2s ease;
}
.products .products__item:hover .products__purchase {
  display: block;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 0.6s;
}
.products .products__item:hover .products__characteristics {
  display: block;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-duration: 0.6s;
}
.products .products__item:hover .products__name-category-block {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-duration: 0.6s;
}
.products .products__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  padding-top: 20px;
}
.products .products__name-category-block {
  padding: 0px 30px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}
.products .products__name-category-block .products__name {
  font-size: 14px;
  font-family: Cairo-Regular;
  color: #000000;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}
.products .products__name-category-block .products__category {
  font-size: 14px;
  font-family: Cairo-Regular;
  color: #6e6e6e;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}
.products .products__price {
  font-size: 24px;
  font-family: Montserrat-Bold;
  color: #00cccc;
  font-weight: 700;
  line-height: 18px;
}
.products .products__characteristics {
  padding: 20px 0px 0px 30px;
  display: none;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.products .products__characteristics .products__characteristics-size-title {
  font-size: 14px;
  font-family: Cairo-Regular;
  color: #000000;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}
.products .products__characteristics .products__chatacteristics-size-item {
  font-size: 14px;
  font-family: Cairo-Regular;
  color: #6e6e6e;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}
.products .products__characteristics-color {
  margin-bottom: 20px;
}
.products .products__characteristics-color-title {
  font-size: 14px;
  font-family: Cairo-Regular;
  color: #000000;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 0px 5px 0px;
}
.products .products__characteristics-colors {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  max-width: 109px;
}
.products .products__characteristics-colors .products__characteristics-colors-item {
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 100%;
}
.products .products__characteristics-colors .products__characteristics-colors-item:first-child {
  background-color: #ff0033;
}
.products .products__characteristics-colors .products__characteristics-colors-item:nth-child(2) {
  background-color: #ff4200;
}
.products .products__characteristics-colors .products__characteristics-colors-item:nth-child(3) {
  background-color: #33cccc;
}
.products .products__characteristics-colors .products__characteristics-colors-item:last-child {
  background-color: #6666cc;
}
.products .products__purchase {
  z-index: 2;
  width: 100%;
  height: 45%;
  background-color: rgba(204, 255, 255, 0.76);
  padding-top: 80px;
  display: none;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.products .products__purchase .products__purchase-btn {
  width: 176px;
  padding: 13px 0px;
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid #000000;
  font-size: 14px;
  font-family: Georgia-Regular;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.products .products__purchase .products__purchase-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.products .products__purchase .products__purchase-btn:hover,
.products .products__purchase .products__purchase-btn:focus,
.products .products__purchase .products__purchase-btn:active {
  color: #ffffff;
}
.products .products__purchase .products__purchase-btn:hover:before,
.products .products__purchase .products__purchase-btn:focus:before,
.products .products__purchase .products__purchase-btn:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.products .products__purchase .products__purchase-btn:first-child {
  margin-bottom: 10px;
}
