@black: #000000;

.products{
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .products__item{
    width: 359px;
    height: 452px;
    background-color: @black;
    margin-bottom: 70px;
  }
}