.btn {
  display: inline-block;
  font-family: PfagoraSansPro-Thin;
  font-size: 1.625em;
  color: #212121;
  text-transform: uppercase;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  margin: 70px auto;
}
.h1 {
  font-family: PfagoraSansPro-Xthin;
  font-size: 3.75em;
  font-weight: 100;
  color: #000;
  display: block;
}
