.navigation {
  padding-top: 131px;
  margin-bottom: 98px;
}
.navigation .navigation__title {
  text-align: center;
  color: #313131;
  font-size: 36px;
  font-family: Georgia-Bold;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.navigation .navigation__menu {
  width: 900px;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}
.navigation .navigation__menu .navigation__menu-list {
  list-style: none;
}
.navigation .navigation__menu .navigation__item {
  display: inline-block;
  margin-right: 20px;
}
.navigation .navigation__menu .navigation__item:nth-child(6) {
  margin-right: 120px;
}
.navigation .navigation__menu .navigation__item:last-child {
  margin: 0;
}
.navigation .navigation__menu .navigation__link {
  color: #6e6e6e;
  font-family: Georgia-Bold;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation .navigation__menu .navigation__link:hover {
  color: black;
  transition: 0.3s;
}
