@title: #313131;
@link: #6e6e6e;
.navigation{
  
  padding-top: 131px;
  margin-bottom: 98px;

  .navigation__title{
    text-align: center;
    color: @title;
    font-size: 36px;
    font-family: Georgia-Bold;
    text-transform: uppercase;
    margin-bottom: 100px;
  }
  
  .navigation__menu{
    width: 900px;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    justify-content: center;

    .navigation__menu-list{
      list-style: none;
    }

    .navigation__item{
      display: inline-block;
      margin-right: 20px;
      
      &:nth-child(6){
        margin-right: 120px;
      }

      &:last-child{
        margin: 0;
      }
    }    

    .navigation__link{
      color: @link;
      font-family: Georgia-Bold;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;

      &:hover{
        color: black;
        transition: 0.3s;
      }
    }
  }
}